<div class="body">
    
    <div class="header">
        <span> Aufrufzeit: {{formattedDate}}</span>
        <span> Abgefragter Sensor: {{data.sensor}} </span> <br>
        <span> Temperatur: {{data.temperature}} &deg;C </span>
        <span> Luftfeuchtigkeit: {{data.humidity}} % </span>
    </div>

    <div class="stats">
      <app-details
      *ngIf="dayLabel.length"
      [labels]="dayLabel"
      [data]="dailyStats"
      [style]="'line'"
      >
      </app-details>
      <app-details
      *ngIf="weekLabel.length"
      [labels]="weekLabel"
      [data]="weeklyStats"
      [style]="'line'"
      >
      </app-details>
      <app-details
      *ngIf="monthLabel.length"
      [labels]="monthLabel"
      [data]="monthlyStats"
      [style]="'line'"
      >
      </app-details>
      <app-details
      *ngIf="yearLabel.length"
      [labels]="yearLabel"
      [data]="yearlyStats"
      [style]="'line'"
      >
      </app-details>
    </div>
</div>
