<div class="body" id="overlay">

  <div class="sensor-wrapper">
  <button class="nav-button left" (click)="scrollLeft()">❮</button>

  <div #scrollContainer class="sensor-container">
    <div *ngFor="let sensor of sensorsData" class="sensor-data">
      <app-weathercards class="card"
        [sensor]="sensor.sensor"
        [temperature]="sensor.temperature"
        [humidity]="sensor.humidity"
        [date]="sensor.DATE_TIME"
        (click)="openDialog(sensor)">
      </app-weathercards>
    </div>
  </div>

  <button class="nav-button right" (click)="scrollRight()">❯</button>
  </div>

<div class="details-container">
  <div class="details-block">
    <p>Temperatur der letzten 24 Stunden</p>
      <app-details
            *ngIf="dayLabel.length"
            [labels]="dayLabel"
            [data]="dailyStats"
            [style]="'line'"
        >
      </app-details>
  </div>

  <div class="details-block">
    <p>Temperatur der letzten 24 Stunden</p>
    <app-details></app-details>
  </div>
</div>


  
    <!-- loading container: https://uiverse.io/AnnixArt/wonderful-liger-82 -->
    <div *ngIf="sensorsData.length === 0">
      <div class="container">
        <div class="coffee-header">
          <div class="coffee-header__buttons coffee-header__button-one"></div>
          <div class="coffee-header__buttons coffee-header__button-two"></div>
          <div class="coffee-header__display"></div>
          <div class="coffee-header__details"></div>
        </div>
        <div class="coffee-medium">
          <div class="coffe-medium__exit"></div>
          <div class="coffee-medium__arm"></div>
          <div class="coffee-medium__liquid"></div>
          <div class="coffee-medium__smoke coffee-medium__smoke-one"></div>
          <div class="coffee-medium__smoke coffee-medium__smoke-two"></div>
          <div class="coffee-medium__smoke coffee-medium__smoke-three"></div>
          <div class="coffee-medium__smoke coffee-medium__smoke-for"></div>
          <div class="coffee-medium__cup"></div>
        </div>
        <div class="coffee-footer"></div>
      </div>      
    </div>
    
 </div>