$light_blue: #B3DAEE;
$another_blue: #8cabbb;
body {
    background-color: $light_blue; /* Beispiel: helles Blau-Grau */
    margin: 0; /* Entfernt Standardabstand */
    font-family: 'Open Sans', sans-serif;
}